body {
    width: 80%;
    margin: 0 auto;
    background-color: #202020;
} 

/* Nav bar */
.nav-bar {
    background-color: #32302F;
    border-radius: 25px;
    margin-top: 1%;
    margin-bottom: 5%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-block;
}

.nav {
    margin-right: 4%;
}

.nav li a, .name li {
    text-decoration: none;
    display: block;
    width: auto;
    height: auto;
    font-size: 20px;
    color: #E89E9E;
    padding: 5px;
    font-weight: bold;
}

.nav li a:hover, .name li:hover {
    background-color: #202020;
}

/* Layouts*/
.intro, .poem, .interest {
    color: #E89E9E;
    margin: auto;
    margin-bottom: 2%;
    width: 50%;
    border-radius: 25px;
    background-color: #32302F;
    border: 3px solid #458588;
    padding: 15px;
  }

h2 {
    text-align: center;
    color: #E89E9E;
}

img {
    height: 150px;
    display: block;
    margin: auto;
    margin-bottom: 5%;
}

/* Details */
.poem {
    text-align: center;
}