  body {
    width: 60%;
    margin: 0 auto;
    background-color: #202020;
  }

  /* Nav bar */
  .nav-bar {
    background-color: #32302f;
    border-radius: 1.5vw;
    margin: 1% 1% 2% 1%;
    display: flex;
    justify-content: space-between;
  }

  li {
    display: inline-block;
  }

  .nav {
    margin-right: 4%;
  }

  .nav li a,
  .me li {
    text-decoration: none;
    display: block;
    width: auto;
    height: auto;
    font-size: 1.25em;
    color: #e89e9e;
    padding: 1vw;
    font-weight: bold;
  }

  .nav li a:hover {
    color: #458588;
  }

  /* Layouts*/
  .intro,
  .interest,
  .project {
    color: #e89e9e;
    margin: auto;
    margin-bottom: 2%;
    width: 50%;
    border-radius: 3vw;
    background-color: #32302f;
    border: .2vw solid #458588;
    padding: 2vw;
  }

  h2,
  h3,
  p {
    text-align: center;
    color: #e89e9e;
  }

  img {
    height: 20vw;
    display: block;
    margin: auto;
    margin-bottom: 5%;
  }

  form {
    text-align: center;
    color: #e89e9e;
    margin: auto;
    margin-bottom: 2%;
    width: 50%;
    border-radius: 3vw;
    background-color: #32302f;
    border: .2vw solid #458588;
    padding: 2vw;
  }

  button {
    margin: auto;
    display: flex;
    border: .12vw solid #458588;
    background-color: #32302f;
    color: #e89e9e;
  }

  button:active {
    background-color: #202020;
  }

  input[type="submit"] {
    border: .12vw solid #458588;
    background-color: #32302f;
    color: #e89e9e;
  }

  input[type="submit"]:active {
    background-color: #202020;
  }

  footer {
    text-align: right;
    margin-bottom: 1%;
    margin-top: -2%;
    margin-right: 2%;
  }

  a {
    text-decoration: none;
    color: #e89e9e;
  }

  a:hover {
    color: #458588;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    margin-bottom: .35vw;
    margin-top: .35vw;
  }

  textarea {
    resize: vertical;
  }

  @media (max-width: 1024px) {
 body {
    width: 100%;
    margin: 0 auto;
    font-size: 2.7vw;
 }
 .nav-bar {
    width: 98%;
    border-radius: 3vw;
 }
  }