body {
    width: 80%;
    margin: 0 auto;
    background-color: #202020;
} 

/* Nav bar */
.nav-bar {
    background-color: #32302F;
    border-radius: 25px;
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-block;
}

.nav {
    margin-right: 4%;
}

.nav li a, .me li {
    text-decoration: none;
    display: block;
    width: auto;
    height: auto;
    font-size: 20px;
    color: #E89E9E;
    padding: 5px;
    font-weight: bold;
}

.nav li a:hover {
    color: #458588;
}

/* Layouts*/
.intro, .interest, .project{
    color: #E89E9E;
    margin: auto;
    margin-bottom: 2%;
    width: 50%;
    border-radius: 25px;
    background-color: #32302F;
    border: 3px solid #458588;
    padding: 15px;
  }

h2, h3, p {
    text-align: center;
    color: #E89E9E;
}

img {
    height: 150px;
    display: block;
    margin: auto;
    margin-bottom: 5%;
}

form {
    text-align: center;
    color: #E89E9E;
    margin: auto;
    margin-bottom: 2%;
    width: 50%;
    border-radius: 25px;
    background-color: #32302F;
    border: 3px solid #458588;
    padding: 15px;
}

button {
    margin:auto;
    display:flex;
    border: 2px solid #458588;
    background-color: #32302F;
    color:#E89E9E
}

button:active {
    background-color: #202020;
}

input[type=submit] {
    border: 2px solid #458588;
    background-color: #32302F;
    color:#E89E9E
}

input[type=submit]:active {
    background-color: #202020;
}

footer {
    text-align: right;
  }  

a {
    text-decoration: none;
    color: #E89E9E;
}

a:hover {
    color: #458588;
}

input[type=text], input[type=email], textarea {
    margin-bottom: 5px;
    margin-top: 3px;
}